*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: aqua;
}

.container{
    width: 100%;
    height: 40%;
    display: inline-block;
    border: 1px solid black;
    background-color: white;
}

.logo{
    display: flex;
    float: left;
    height: 80px;
    line-height: 70px;
    font-size: 25px;
}

.container2{
    margin: auto;
    height: 800px;
    width: 800px;
    background-color: white;
    border-radius: 2%;
}

#button{
    height: 40px;
    width: 150px;
    font-size: 20px;
    margin-left: 15px;
    margin-top: 18px;
    border-radius: 6%;
    padding: 5px;
    background-color: rgba(56,170,255,255);
    margin-bottom: 11px;
    

  
}

#button2{
    height: 40px;
    width: 150px;
    font-size: 20px;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 3%;
    padding: 8px;
    margin-bottom: 10px;
    border: 0.5px solid lightgray;
    
    


}


    
    
   
    


